services:
  frontend:
    build:
      context: ./frontend
    environment:
      NODE_ENV: development
    ports:
      - 5173:5173
    depends_on:
      - backend
  backend:
    build:
      context: ./backend
    environment:
      NODE_ENV: development
    ports:
      - 3000:3000