services:
  frontend:
    build:
      context: ./frontend
    env_file:
      - .env
    ports:
      - "${FRONTEND_PORT:-5173}:${FRONTEND_PORT}"
    depends_on:
      - backend
  backend:
    build:
      context: ./backend
    env_file:
      - .env
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"